<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <title>Log In</title>
</head>

<body>
<div class="container row  justify-content-center">
    <form class="form-signin" method="post" action="/login">
        <h2 class="form-signin-heading mx-4">Please sign in </h2>
        <p class=>
            <label for="username" class="sr-only">Username</label>
            <input type="text" id="username" name="username" class="form-control" placeholder="Username" autofocus>
        </p>
        <p>
            <label for="password" class="sr-only">Password</label>
            <input type="password" id="password" name="password" class="form-control" placeholder="Password">
        </p>
        <input name="_csrf" type="hidden" value="b62524e5-e79d-467d-b696-25bb9c00188d"/>
        <div class="row">
            <div class="col-md-6">
                <button class="btn btn-lg btn-primary" type="submit">Sign in</button>
            </div>
            <div class="col-md-6">
                <a class=" btn btn-lg btn-primary" th:href="@{/addUser}"> Register</a>
            </div>

        </div>

    </form>
</div>
</body>
</html>