<!DOCTYPE HTML>
<html>
<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <title>
        No trips
    </title>

</head>


<body>
<div class="container text-center">
    <h1 class="m-5 text-center">You don't have any trips, please add a trip</h1>
    <a href="/addTrip" class="btn btn-primary text-center m-5">Add a trip</a>
</div>
</body>
</html>