<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout=”http://www.ultraq.net.nz/thymeleaf/layout”
      layout:decorate="~{layout/navbar}">
<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">


    <title>Trips Page</title>
</head>

<body>
<div layout:fragment="content">

    <div class="container">
        <p>Trip</p>
        <div class="row  mx-0">
            <select class="col-md-6" onloadedmetadata="window.location.href='/tripPage?id='+this.value;"
                    onchange="window.location.href='/tripPage?id='+this.value;">
                <option th:each="trip : ${tripList}"
                        th:value="${trip.id}"
                        th:text="${trip.name}"
                        th:selected="${trip.id == selectedId}">
                </option>
            </select>
            <div class="col-md-2">
                <a th:href="@{'/editTrip?id=' +${selectedId}}">
                    <button class="btn btn-primary">Edit</button>
                </a>
            </div>
            <div class="col-md-2">
                <a href="/addTrip">
                    <button class="btn btn-success">Add</button>
                </a>
            </div>
            <div class="col-md-2">
                <a th:href="@{'/deleteTrip?id=' +${selectedId}}">
                    <button class="btn btn-danger">Delete</button>
                </a>
            </div>
        </div>
        <p class="pt-4">Impressions:</p>
        <div class="mb-4"
             style="height: 100px; border:1px solid; border-color: rgba(100,100,100,.125); border-radius:0.25rem;">
            <p th:text="${currentTrip.Impressions}">
                Lorem ipsum
            </p>
        </div>

        <div class="row justify-content-around">
            <div class="card col-md-3 bg-light" style="width: 18rem;">
                <img th:src="@{/files/{image}(image=${currentTrip.getPhoto1()})}" alt="Brasov" class="card-img-top">
                <div class="card-body">
<!--                    <h5 class="card-title">Card title</h5>-->
                    <p class="card-text" th:text="${currentTrip.photo1Description}"> card title and make up the bulk of
                        the
                        card's content.</p>
<!--                    <a href="#" class="btn btn-primary">Go somewhere</a>-->
                </div>
            </div>
            <div class="card col-md-3 bg-light"  style="width: 18rem;">
                <img th:src="@{/files/{image}(image=${currentTrip.getPhoto2()})}" alt="Brasov" class="card-img-top">
                <div class="card-body ">
<!--                    <h5 class="card-title">Card title</h5>-->
                    <p class="card-text" th:text="${currentTrip.photo2Description}">Some quick example text to build on
                        the
                        card title and make up the bulk of the
                        card's content.</p>
<!--                    <a href="#" class="btn btn-primary">Go somewhere</a>-->
                </div>
            </div>
            <div class="col-md-4">
                <p class="text-center">Period of the trip:</p>
                <div class="text-center">
                    <span th:text="${currentTrip.tripStart}"></span> - <span th:text="${currentTrip.tripEnd}"></span>
                </div>

            </div>
        </div>
    </div>


</div>


<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
</body>

</html>
